@{
    ViewData["Title"] = "Главная страница";
}
<br />
<div class="text-center">
    <h1 class="display-4">Курсовой проект по дисциплине<br /> Программное обеспечение информационных систем<br /> Перцевой Никита АВТ-119</h1>
    <br /> 
    <br />
    <h1 class="display-4">Система администрирования работы железнодорожной компании</h1>
</div>
