@{
    ViewData["Title"] = "Jokerge";
}

@section Scripts {
    <script src="~/js/mysite.js"></script>
}
<div class="container">
    <div class="page-header clearfix datailHeading">
        <h2 class="text-muted">Хоба, собрание Джокерге <br />Что они здесь делают?!</h2>
    </div>
</div>

<div class="row m-auto text-center">
    <div class="col-sm-4">
        <img src='@Url.Content("~/gifs/kosti.gif")' width="400" height="400" />
    </div>
    <div class="col-sm-4">
        <img src='@Url.Content("~/gifs/jmak.gif")' width="400" height="400" />
    </div>
    <div class="col-sm-4">
        <img src='@Url.Content("~/gifs/uvy.gif")' width="400" height="400" />
    </div>
</div>